.cart-wrapper {
  width: 75%;
  margin: 20px auto;
}

.cart-title {
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-item img {
  width: 80px;
  margin-right: 10px;
}
.cart-item .cart-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}